
{% extends 'base2.html.twig' %}

{% block body %}

<div class="example-wrapper">
{{ form_start(formUtilisateurr) }}
{{ form_widget(formUtilisateurr) }}

<button type="submit" class="btn btn-success">envoyer</button>
{{ form_end(formUtilisateur) }}

>
</div>
{% endblock %}


