
{% extends 'base2.html.twig' %}
{% form_theme formUtilisateur 'bootstrap_4_layout.html.twig' %}
{% block body %}

<div class="example-wrapper">
{{ form_start(formUtilisateur) }}
{{ form_widget(formUtilisateur) }}

<button type="submit" class="btn btn-success">envoyer</button>
{{ form_end(formUtilisateur) }}

>
</div>
{% endblock %}


