{% extends 'base2.html.twig' %}   
         
{% form_theme formModifUtil 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class = "jumbotron">
 <article>
    <h2> MODIFICATION des utilisateurs </h2>
            
       </article>      
</div>


{{ form_start(formModifUtil) }}

{{ form_widget(formModifUtil) }}
<button type="submit" class="btn btn-success">envoyer</button>
{{ form_end(formModifUtil) }}

{% endblock %}


